In [13]:
import pandas as pd
import pandas_profiling as pp
import numpy as np

In [74]:
loan = pd.read_csv('C:\\Users\\om sai\\Downloads\\Case 3\\loans data.csv')

In [75]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 13 columns):
ID                           2499 non-null float64
AmountRequested              2500 non-null int64
AmountFundedByInvestors      2500 non-null int64
InterestRate                 2500 non-null int64
LoanLength                   2498 non-null object
LoanPurpose                  2499 non-null object
DebtToIncomeRatio            2500 non-null int64
HomeOwnership                2499 non-null object
MonthlyIncome                2500 non-null int64
OpenCREDITLines              2500 non-null int64
RevolvingCREDITBalance       2500 non-null int64
InquiriesintheLast6Months    2500 non-null int64
EmploymentLength             2422 non-null object
dtypes: float64(1), int64(8), object(4)
memory usage: 254.0+ KB

In [76]:
loan.head()

,ID,AmountRequested,AmountFundedByInvestors,InterestRate,LoanLength,LoanPurpose,DebtToIncomeRatio,HomeOwnership,MonthlyIncome,OpenCREDITLines,RevolvingCREDITBalance,InquiriesintheLast6Months,EmploymentLength
0,81174.0,20000,20000,9,36 months,debt_consolidation,15,MORTGAGE,654167,14,14272,2,1 year
1,99592.0,19200,19200,12,36 months,debt_consolidation,28,MORTGAGE,458333,12,11140,1,2 years
2,80059.0,35000,35000,22,60 months,debt_consolidation,24,MORTGAGE,11500,14,21977,1,2 years
3,15825.0,10000,9975,1,36 months,debt_consolidation,14,MORTGAGE,383333,10,9346,0,5 years
4,33182.0,12000,12000,12,36 months,credit_card,19,RENT,3195,11,14469,0,9 years

In [78]:
loan.EmploymentLength.mode()

0    10+ years
dtype: object

In [79]:
loan.EmploymentLength.fillna('10+ years',inplace=True)

In [80]:
loan.EmploymentLength.isnull().sum()

0

In [81]:
loan.isnull().sum()

ID                           1
AmountRequested              0
AmountFundedByInvestors      0
InterestRate                 0
LoanLength                   2
LoanPurpose                  1
DebtToIncomeRatio            0
HomeOwnership                1
MonthlyIncome                0
OpenCREDITLines              0
RevolvingCREDITBalance       0
InquiriesintheLast6Months    0
EmploymentLength             0
dtype: int64

In [82]:
loan.LoanLength.fillna(np.mean,inplace=True)
loan.LoanPurpose.fillna(np.mean,inplace=True)
loan.HomeOwnership.fillna(np.mean,inplace=True)

In [83]:
loan.isnull().sum()

ID                           1
AmountRequested              0
AmountFundedByInvestors      0
InterestRate                 0
LoanLength                   0
LoanPurpose                  0
DebtToIncomeRatio            0
HomeOwnership                0
MonthlyIncome                0
OpenCREDITLines              0
RevolvingCREDITBalance       0
InquiriesintheLast6Months    0
EmploymentLength             0
dtype: int64

In [84]:
loan=loan.drop("ID",axis=1)

In [85]:
loan.head()

,AmountRequested,AmountFundedByInvestors,InterestRate,LoanLength,LoanPurpose,DebtToIncomeRatio,HomeOwnership,MonthlyIncome,OpenCREDITLines,RevolvingCREDITBalance,InquiriesintheLast6Months,EmploymentLength
0,20000,20000,9,36 months,debt_consolidation,15,MORTGAGE,654167,14,14272,2,1 year
1,19200,19200,12,36 months,debt_consolidation,28,MORTGAGE,458333,12,11140,1,2 years
2,35000,35000,22,60 months,debt_consolidation,24,MORTGAGE,11500,14,21977,1,2 years
3,10000,9975,1,36 months,debt_consolidation,14,MORTGAGE,383333,10,9346,0,5 years
4,12000,12000,12,36 months,credit_card,19,RENT,3195,11,14469,0,9 years

In [89]:
Data_dummies = pd.get_dummies(loan[["LoanLength","LoanPurpose","HomeOwnership","EmploymentLength"]])

In [93]:
Data_num=loan[["AmountRequested","AmountFundedByInvestors","InterestRate","DebtToIncomeRatio","MonthlyIncome","OpenCREDITLines","RevolvingCREDITBalance","InquiriesintheLast6Months"]]

In [94]:
Data_combined = pd.concat([Data_num,Data_dummies],axis=1)

In [95]:
X=Data_combined.drop("AmountRequested",axis=1)
y=Data_combined["AmountRequested"]

In [96]:
from sklearn.model_selection import train_test_split

In [97]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.7, random_state=100)

In [98]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [99]:
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [100]:
print(lm.intercept_)

6066.580016909316

In [101]:
coeff_df = pd.DataFrame(lm.coef_,X_train.columns,columns=['coefficient'])
coeff_df

                                                     coefficient
AmountFundedByInvestors                             2.673102e-03
InterestRate                                        2.015998e+02
DebtToIncomeRatio                                  -3.860245e+01
MonthlyIncome                                       3.225894e-03
OpenCREDITLines                                     1.013737e+02
RevolvingCREDITBalance                              8.291662e-02
InquiriesintheLast6Months                          -4.232411e+02
LoanLength_<function mean at 0x0000008BF5DE0378>   -1.958983e+03
LoanLength_36 months                               -2.268202e+03
LoanLength_60 months                                4.227184e+03
LoanPurpose_<function mean at 0x0000008BF5DE0378>   7.503764e+02
LoanPurpose_car                                    -1.784753e+03
LoanPurpose_credit_card                             1.856671e+03
LoanPurpose_debt_consolidation                      2.648069e+03
LoanPurpose_educational                            -2.525012e+03
LoanPurpose_home_improvement                        1.155725e+03
LoanPurpose_house                                   2.373482e+03
LoanPurpose_major_purchase                         -6.488087e+02
LoanPurpose_medical                                -1.358343e+02
LoanPurpose_moving                                 -1.471327e+03
LoanPurpose_other                                  -1.354154e+03
LoanPurpose_renewable_energy                       -8.696690e+02
LoanPurpose_small_business                          1.934414e+03
LoanPurpose_vacation                               -4.384601e+03
LoanPurpose_wedding                                 2.455422e+03
HomeOwnership_<function mean at 0x0000008BF5DE0... -4.774847e-12
HomeOwnership_MORTGAGE                              1.169253e+03
HomeOwnership_NONE                                  2.488983e+03
HomeOwnership_OTHER                                -4.699939e+03
HomeOwnership_OWN                                   8.219171e+02
HomeOwnership_RENT                                  2.197851e+02
EmploymentLength_1 year                            -1.422361e+02
EmploymentLength_10+ years                          4.507620e+02
EmploymentLength_2 years                           -7.958842e+02
EmploymentLength_3 years                           -6.779267e+02
EmploymentLength_4 years                           -8.872834e+02
EmploymentLength_5 years                           -1.248061e+02
EmploymentLength_6 years                           -1.042394e+03
EmploymentLength_7 years                           -1.635164e+02
EmploymentLength_8 years                            1.992949e+02
EmploymentLength_9 years                            3.183990e+03