# Why Learn Python ?

1.Open Source

2.Large Community and tons of Well Maintained Packages

3.Increased adoption for Data Analysis and Data Science( Essential Part of  Data Scientist's toolkit)

4.Easy to learn and Joy to Use

5.General Purpose and Production ready

6.Major Websites built using Python - Dropbox , Instagram , Pintrest , Quora

7.One of offcial lanuage at Google and other Tech/Innovation Companies 

8.Runs on anything (including AWS)

# How to Install Python

1. www.python.org

2. Anaconda Installer

3. Enthought Python Distribution


Working with Python

1.Command Prompt/Terminal

2. IDLE

3. IPython

4. Online
     - wakari.io
     - http://repl.it/ 

4. IDE
     - Eclipse
     - PyCharm

# Some Basics

* Python code is usually stored in text files with the file ending "`.py`":

        myprogram.py

* Every line in a Python program file is assumed to be a Python statement, or part thereof. 

    * The only exception is comment lines, which start with the character `#` (optionally preceded by an arbitrary number of white-space characters, i.e., tabs or spaces). Comment lines are usually ignored by the Python interpreter.


* To run our Python program from the command line we use:

        $ python myprogram.py

* On UNIX systems it is common to define the path to the interpreter on the first line of the program (note that this is a comment line as far as the Python interpreter is concerned):

        #!/usr/bin/env python

  If we do, and if we additionally set the file script to be executable, we can run the program like this:

        $ myprogram.py

In [2]:
#Python Versions

import sys
print sys.version

2.7.13 |Anaconda custom (64-bit)| (default, May 11 2017, 13:17:26) [MSC v.1500 64 bit (AMD64)]

## 1. Imports

Most of the functionality in Python is provided by *modules*. The Python Standard Library is a large collection of modules that provides *cross-platform* implementations of common facilities such as access to the operating system, file I/O, string management, network communication, and much more.

 * The Python Language Reference: http://docs.python.org/2/reference/index.html
 * The Python Standard Library: http://docs.python.org/2/library/

To use a module in a Python program it first has to be imported. A module can be imported using the `import` statement. For example, to import the module `math`, which contains many standard mathematical functions, we can do:

In [6]:
# 'generic import' of math module
import math
math.sqrt(25)

5.0

In [7]:
# import a function
from math import sqrt
sqrt(25)

5.0

In [8]:
# import multiple functions at once
from math import cos, floor

In [9]:
# import all functions in a module (generally discouraged)
from csv import *

In [10]:
# define an alias
import datetime as dt

In [11]:
# show all functions in math module
print(dir(math))

['__doc__', '__name__', '__package__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'hypot', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'modf', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc']

In [ ]:
help(math.log)

And using the function `help` we can get a description of each function (almost .. not all functions have docstrings, as they are technically called, but the vast majority of functions are documented this way).

## 2. Data Types

**Determine the type of an object:**

In [12]:
type(2)

int

In [13]:
type(2.0)

float

In [14]:
type('two')

str

In [15]:
type(True)

bool

**Check if an object is of a given type:**

In [17]:
isinstance(2.0, int)

False

In [18]:
isinstance(2.0, (int, float))

True

**Convert an object to a given type:**

In [19]:
float(2)

2.0

In [20]:
int(2.9)

2

In [21]:
str(2.9)

'2.9'

**Zero, `None`, and empty containers are converted to `False`:**

In [22]:
bool(0)

False

In [23]:
bool(None)

False

In [24]:
bool('')    # empty string

False

In [25]:
bool([])    # empty list

False

In [26]:
bool({})    # empty dictionary

False

**Non-empty containers and non-zeros are converted to `True`:**

In [27]:
bool(2)

True

In [28]:
bool('two')

True

In [29]:
bool([2])

True

## 3. Math

In [30]:
10 + 4

14

In [31]:
10 - 4

6

In [32]:
10 * 4

40

In [33]:
10 ** 4    # exponent

10000

In [34]:
5 % 4      # modulo - computes the remainder

1

In [35]:
# Python 2: returns 2 (because both types are 'int')
# Python 3: returns 2.5
10 / 4

2

In [36]:
10 / float(4)

2.5

In [37]:
# force '/' in Python 2 to perform 'true division' (unnecessary in Python 3)
from __future__ import division

In [38]:
10 / 4     # true division

2.5

In [39]:
10 // 4    # floor division

2

## 4. Comparisons and Boolean Operations

**Assignment statement:**

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter. 

By convention, variable names start with a lower-case letter, and Class names start with a capital letter. 

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except, 
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

Note: Be aware of the keyword `lambda`, which could easily be a natural variable name in a scientific program. But being a keyword, it cannot be used as a variable name.

In [2]:
# variable assignments
x = 1.0
my_variable = 12.2

The assignment operator in Python is =. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.
Assigning a value to a new variable creates the variable:

**Comparisons:**

In [41]:
x > 3

True

In [42]:
x >= 3

True

In [43]:
x != 3

True

In [44]:
x == 5

True

**Boolean operations:**

In [45]:
5 > 3 and 6 > 3

True

In [46]:
5 > 3 or 5 < 3

True

In [47]:
not False

True

In [48]:
False or not False and True     # evaluation order: not, and, or

True

In [3]:
#Type casting


x = 1.5

print(x, type(x))


x = int(x)

print(x, type(x))


z = complex(x)

print(z, type(z))


x = float(z)

1.5 <class 'float'>
1 <class 'int'>
(1+0j) <class 'complex'>

TypeError: can't convert complex to float

In [4]:
#Complex variables cannot be cast to floats or integers. 
#We need to use z.real or z.imag to extract the part of the complex number we want:


y = bool(z.real)

print(z.real, " -> ", y, type(y))

y = bool(z.imag)

print(z.imag, " -> ", y, type(y))

1.0  ->  True <class 'bool'>
0.0  ->  False <class 'bool'>

## 5. Conditional Statements

In [49]:
# if statement
if x > 0:
    print('positive')

positive

In [7]:
# if/else statement
if x > 0:
    print('positive')
else:
    print('zero or negative')

positive

In [51]:
# if/elif/else statement
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

positive

In [52]:
# single-line if statement (sometimes discouraged)
if x > 0: print('positive')

positive

In [53]:
# single-line if/else statement (sometimes discouraged), known as a 'ternary operator'
'positive' if x > 0 else 'zero or negative'

'positive'

## 6. Lists

- **List properties:** ordered, iterable, mutable, can contain multiple data types

In [54]:
# create an empty list (two ways)
empty_list = []
empty_list = list()

In [66]:
# create a list
lang = ['python', 'R', 'java']

**Examine a list:**

In [67]:
# print element 0
lang[0]

'python'

In [68]:
len(lang)

3

**Modify a list (does not return the list):**

In [69]:
# append element to end
lang.append('scala')
lang

['python', 'R', 'java', 'scala']

In [70]:
# append multiple elements to end
lang.extend(['C', 'C++'])
lang

['python', 'R', 'java', 'scala', 'C', 'C++']

In [71]:
# insert element at index 0 (shifts everything right)
lang.insert(0, 'Julia')
lang

['Julia', 'python', 'R', 'java', 'scala', 'C', 'C++']

In [72]:
# search for first instance and remove it
lang.remove('java')
lang

['Julia', 'python', 'R', 'scala', 'C', 'C++']

In [73]:
# remove element 0 and return it
lang.pop(0)

'Julia'

In [74]:
# remove element 0 (does not return it)
del lang[0]
lang

['R', 'scala', 'C', 'C++']

In [75]:
# replace element 0
lang[0] = 'python'
lang

['python', 'scala', 'C', 'C++']

In [78]:
# concatenate lists (slower than 'extend' method)
lang2 = lang + ['Spark', 'Hadoop', 'Oracle','python']
lang2

['python', 'scala', 'C', 'C++', 'Spark', 'Hadoop', 'Oracle', 'python']

**Find elements in a list:**

In [79]:
# counts the number of instances
lang.count('python')

1

In [81]:
# returns index of first instance
lang.index('python')

0

**List slicing:**

In [82]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [83]:
# element 0
weekdays[0]

'mon'

In [84]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [85]:
# starting point is implied to be 0
weekdays[:3]

['mon', 'tues', 'wed']

In [86]:
# elements 3 (inclusive) through the end
weekdays[3:]

['thurs', 'fri']

In [87]:
# last element
weekdays[-1]

'fri'

In [88]:
# every 2nd element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [89]:
# backwards (step by -1)
weekdays[::-1]

['fri', 'thurs', 'wed', 'tues', 'mon']

In [90]:
# alternative method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

**Sort a list in place (modifies but does not return the list):**

In [91]:
lang.sort()
lang

['C', 'C++', 'python', 'scala']

In [92]:
# sort in reverse
lang.sort(reverse=True)
lang

['scala', 'python', 'C++', 'C']

In [98]:
# sort by a key
lang.sort(key=len)
lang

['C', 'C++', 'scala', 'python']

**Return a sorted list (does not modify the original list):**

In [99]:
lang

['C', 'C++', 'scala', 'python']

In [100]:
sorted(lang, reverse=True)

['scala', 'python', 'C++', 'C']

In [101]:
sorted(lang)

['C', 'C++', 'python', 'scala']

In [102]:
sorted(lang, key=len)

['C', 'C++', 'scala', 'python']

In [103]:
lang

['C', 'C++', 'scala', 'python']

**Object references and copies:**

In [105]:
# create a second reference to the same list
lang_new = lang

In [106]:
lang

['C', 'C++', 'scala', 'python']

In [107]:
new_lang

['C', 'C++', 'scala', 'python']

In [108]:
# modifies both 'num' and 'same_num'
lang[0] = 'Spark'
print(lang)
print(lang_new)

['Spark', 'C++', 'scala', 'python']
['Spark', 'C++', 'scala', 'python']

In [109]:
# copy a list (two ways)
lang_new = lang[:]
lang_new = list(lang)

In [111]:
# modifies both 'num' and 'same_num'
lang_new[0] = 'python'
print(lang)
print(lang_new)

['Spark', 'C++', 'scala', 'python']
['python', 'C++', 'scala', 'python']

**Examine objects:**

In [113]:
lang3 = lang

In [115]:
lang3 is lang    # checks whether they are the same object

True

In [116]:
lang == lang3    # checks whether they have the same contents

True

In [117]:
lang_new == lang

False

## 7. Tuples

- **Tuple properties:** ordered, iterable, immutable, can contain multiple data types
- Like lists, but they don't change size

In [118]:
# create a tuple directly
digits = (0, 1, 'two')

In [119]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])

In [120]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

**Examine a tuple:**

In [121]:
digits[2]

'two'

In [122]:
len(digits)

3

In [123]:
# counts the number of instances of that value
digits.count(0)

1

In [124]:
# returns the index of the first instance of that value
digits.index(1)

1

**Modify a tuple:**

In [125]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

In [126]:
# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

In [128]:
# tuple unpacking
data = ('male', 10, 'python')    # create a tuple
(sex, age, surname) = data        # assign three values at once
print(sex)
print(age)
print(surname)

male
10
python

## 8. Strings

- **String properties:** iterable, immutable

In [129]:
# convert another data type into a string
s = str(42)
s

'42'

In [130]:
# create a string directly
s = 'I like you'

**Examine a string:**

In [131]:
s[0]

'I'

In [132]:
len(s)

10

**String slicing is like list slicing:**

In [133]:
s[:6]

'I like'

In [134]:
s[7:]

'you'

In [135]:
s[-1]

'u'

**Basic string methods (does not modify the original string):**

In [136]:
s.lower()

'i like you'

In [137]:
s.upper()

'I LIKE YOU'

In [138]:
s.startswith('I')

True

In [139]:
s.endswith('you')

True

In [140]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [141]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [142]:
# returns -1 since not found
s.find('hate')

-1

In [143]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

'I love you'

In [146]:
s

'I like you'

**Split a string:**

In [147]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'you']

In [148]:
# equivalent (since space is the default delimiter)
s.split()

['I', 'like', 'you']

In [149]:
s2 = 'a, an, the'
s2.split(',')

['a', ' an', ' the']

**Join or concatenate strings:**

In [152]:
# join a list of strings into one string using a delimiter
lang = ['python', 'java', 'C']
' '.join(lang)

'python java C'

In [153]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4

'The meaning of life is 42'

**Remove whitespace from the start and end of a string:**

In [154]:
s5 = '  ham and cheese  '
s5.strip()

'ham and cheese'

**String substitutions:**

In [155]:
# old way
'raining %s and %s' % ('cats', 'dogs')

'raining cats and dogs'

In [156]:
# new way
'raining {} and {}'.format('cats', 'dogs')

'raining cats and dogs'

In [157]:
# new way (using named arguments)
'raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs')

'raining cats and dogs'

**String formatting **

In [161]:
# use 2 decimal places
'pi is {:.4f}'.format(3.14159)

'pi is 3.1416'

**Normal strings versus raw strings:**

In [163]:
# normal strings allow for escaped characters
print('first line\nsecond line')

first line
second line

In [164]:
# raw strings treat backslashes as literal characters
print(r'first line\nfirst line')

first line\nfirst line

## 9. Dictionaries

- **Dictionary properties:** unordered, iterable, mutable, can contain multiple data types
- Made of key-value pairs
- Keys must be unique, and can be strings, numbers, or tuples
- Values can be any type

In [165]:
# create an empty dictionary (two ways)
empty_dict = {}
empty_dict = dict()

In [167]:
# create a dictionary (two ways)
family = {'dad':'Sachin', 'mom':'Geeta', 'size':6}
family = dict(dad='Sachin', mom='Geeta', size=6)
family

{'dad': 'Sachin', 'mom': 'Geeta', 'size': 6}

In [168]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'Sachin'), ('mom', 'Geeta'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'Sachin', 'mom': 'Geeta', 'size': 6}

**Examine a dictionary:**

In [169]:
# pass a key to return its value
family['dad']

'Sachin'

In [170]:
# return the number of key-value pairs
len(family)

3

In [171]:
# check if key exists in dictionary
'mom' in family

True

In [172]:
# dictionary values are not checked
'Geeta' in family

False

In [174]:
'Geeta' in family.values()

True

In [175]:
# returns a list of keys (Python 2) or an iterable view (Python 3)
family.keys()

['dad', 'mom', 'size']

In [176]:
# returns a list of values (Python 2) or an iterable view (Python 3)
family.values()

['Sachin', 'Geeta', 6]

In [177]:
# returns a list of key-value pairs (Python 2) or an iterable view (Python 3)
family.items()

[('dad', 'Sachin'), ('mom', 'Geeta'), ('size', 6)]

**Modify a dictionary (does not return the dictionary):**

In [178]:
# add a new entry
family['cat'] = 'snowball'
family

{'cat': 'snowball', 'dad': 'Sachin', 'mom': 'Geeta', 'size': 6}

In [179]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

{'cat': 'snowball ii', 'dad': 'Sachin', 'mom': 'Geeta', 'size': 6}

In [180]:
# delete an entry
del family['cat']
family

{'dad': 'Sachin', 'mom': 'Geeta', 'size': 6}

In [182]:
# dictionary value can be a list
family['kids'] = ['Arjun', 'Ramesh']
family

{'dad': 'Sachin', 'kids': ['Arjun', 'Ramesh'], 'mom': 'Geeta', 'size': 6}

In [183]:
# remove an entry and return the value
family.pop('dad')

'Sachin'

**Access values more safely with `get`:**

In [184]:
family['mom']

'Geeta'

In [185]:
# equivalent to a dictionary lookup
family.get('mom')

'Geeta'

In [186]:
# this would throw an error since the key does not exist
family['grandma']

KeyError: 'grandma'

In [187]:
# return None if not found
family.get('grandma')

In [188]:
# provide a default return value if not found
family.get('grandma', 'not found')

'not found'

**Access a list element within a dictionary:**

In [189]:
family['kids'][0]

'Arjun'

In [190]:
family['kids'].remove('Arjun')
family

{'kids': ['Ramesh'], 'mom': 'Geeta', 'size': 6}

## 10. Sets

- **Set properties:** unordered, iterable, mutable, can contain multiple data types
- Made of unique elements (strings, numbers, or tuples)
- Like dictionaries, but with keys only (no values)

In [191]:
# create an empty set
empty_set = set()

In [192]:
# create a set directly
languages = {'python', 'r', 'java'}

In [193]:
# create a set from a list
snakes = set(['cobra', 'viper', 'python'])

**Examine a set:**

In [194]:
len(languages)

3

In [195]:
'python' in languages

True

**Set operations:**

In [196]:
# intersection
languages & snakes

{'python'}

In [197]:
# union
languages | snakes

{'cobra', 'java', 'python', 'r', 'viper'}

In [198]:
# set difference
languages - snakes

{'java', 'r'}

In [199]:
# set difference
snakes - languages

{'cobra', 'viper'}

**Modify a set (does not return the set):**

In [200]:
# add a new element
languages.add('sql')
languages

{'java', 'python', 'r', 'sql'}

In [201]:
# try to add an existing element (ignored, no error)
languages.add('r')
languages

{'java', 'python', 'r', 'sql'}

In [202]:
# remove an element
languages.remove('java')
languages

{'python', 'r', 'sql'}

In [203]:
# try to remove a non-existing element (this would throw an error)
# languages.remove('c')

In [204]:
# remove an element if present, but ignored otherwise
languages.discard('c')
languages

{'python', 'r', 'sql'}

In [205]:
# remove
languages.pop()

'python'

In [206]:
languages.pop()

'r'

In [207]:
# remove all elements
languages.clear()
languages

set()

## 11. Defining Functions

**Define a function with no arguments and no return values:**

In [208]:
def print_text():
    print('this is text')

In [209]:
# call the function
print_text()

this is text

**Define a function with one argument and no return values:**

In [210]:
def print_this(x):
    print(x)

In [211]:
# call the function
print_this(3)

3

In [212]:
# prints 3, but doesn't assign 3 to n because the function has no return statement
n = print_this(3)

3

In [213]:
n

**Define a function with one argument and one return value:**

In [214]:
def square_this(x):
    return x**2

In [215]:
# include an optional docstring to describe the effect of a function
def square_this(x):
    """Return the square of a number."""
    return x**2

In [216]:
# call the function
square_this(3)

9

In [217]:
# assigns 9 to var, but does not print 9
var = square_this(3)

In [218]:
var

9

**Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value):**

In [219]:
def calc(a, b, op='add'):
    if op == 'add':
        return a + b
    elif op == 'sub':
        return a - b
    else:
        print('valid operations are add and sub')

In [220]:
# call the function
calc(10, 4, op='add')

14

In [221]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [222]:
# default for 'op' is 'add'
calc(10, 4)

14

In [223]:
calc(10, 4, 'sub')

6

In [224]:
calc(10, 4, 'div')

valid operations are add and sub

**Use `pass` as a placeholder if you haven't written the function body:**

In [225]:
def stub():
    pass

**Return two values from a single function:**

In [226]:
def min_max(nums):
    return min(nums), max(nums)

In [227]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
min_max_num = min_max(nums)
min_max_num

(1, 3)

In [228]:
# return values can be assigned into multiple variables using tuple unpacking
min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

1
3

## 12. Anonymous (Lambda) Functions

- Primarily used to temporarily define a function for use by another function

In [229]:
# define a function the "usual" way
def squared(x):
    return x**2

In [230]:
# define an identical function using lambda
squared = lambda x: x**2

**Sort a list of strings by the last letter:**

In [234]:
# without using lambda
lang = ['python', 'r', 'java']
def last_letter(word):
    return word[-1]
sorted(lang, key=last_letter)

['java', 'python', 'r']

In [235]:
# using lambda
sorted(lang, key=lambda word: word[-1])

['java', 'python', 'r']

## 13. For Loops and While Loops

**`for` loops:**

In [240]:
# not the recommended style
fruits = ['apple', 'banana', 'cherry']
for i in range(len(fruits)):
    print(fruits[i].upper())

APPLE
BANANA
CHERRY

In [241]:
# recommended style
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [243]:
# iterate through two things at once
family = {'dad':'homer', 'mom':'marge', 'size':6}
for key, value in family.items():
    print(key, value)

('dad', 'homer')
('mom', 'marge')
('size', 6)

In [244]:
# use enumerate if you need to access the index value within the loop
for index, fruit in enumerate(fruits):
    print(index, fruit)

(0, 'apple')
(1, 'banana')
(2, 'cherry')

**`for`/`else` loop:**

In [245]:
for fruit in fruits:
    if fruit == 'banana':
        print('Found the banana!')
        break    # exit the loop and skip the 'else' block
else:
    # this block executes ONLY if the for loop completes without hitting 'break'
    print("Can't find the banana")

Found the banana!

**`while` loop:**

In [246]:
count = 0
while count < 5:
    print('This will print 5 times')
    count += 1    # equivalent to 'count = count + 1'

This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times

## 14. Comprehensions

**List comprehension:**

In [247]:
# for loop to create a list of cubes
nums = [1, 2, 3, 4, 5]
cubes = []
for num in nums:
    cubes.append(num**3)
cubes

[1, 8, 27, 64, 125]

In [248]:
# equivalent list comprehension
cubes = [num**3 for num in nums]
cubes

[1, 8, 27, 64, 125]

In [249]:
# for loop to create a list of cubes of even numbers
cubes_of_even = []
for num in nums:
    if num % 2 == 0:
        cubes_of_even.append(num**3)
cubes_of_even

[8, 64]

In [250]:
# equivalent list comprehension
# syntax: [expression for variable in iterable if condition]
cubes_of_even = [num**3 for num in nums if num % 2 == 0]
cubes_of_even

[8, 64]

In [251]:
# for loop to cube even numbers and square odd numbers
cubes_and_squares = []
for num in nums:
    if num % 2 == 0:
        cubes_and_squares.append(num**3)
    else:
        cubes_and_squares.append(num**2)
cubes_and_squares

[1, 8, 9, 64, 25]

In [252]:
# equivalent list comprehension (using a ternary expression)
# syntax: [true_condition if condition else false_condition for variable in iterable]
cubes_and_squares = [num**3 if num % 2 == 0 else num**2 for num in nums]
cubes_and_squares

[1, 8, 9, 64, 25]

**Set comprehension:**

In [208]:
fruits = ['apple', 'banana', 'cherry']
unique_lengths = {len(fruit) for fruit in fruits}
unique_lengths

{5, 6}

**Dictionary comprehension:**

In [253]:
fruit_lengths = {fruit:len(fruit) for fruit in fruits}
fruit_lengths

{'apple': 5, 'banana': 6, 'cherry': 6}

In [254]:
fruit_indices = {fruit:index for index, fruit in enumerate(fruits)}
fruit_indices

{'apple': 0, 'banana': 1, 'cherry': 2}

## 15. Map and Filter

**`map` applies a function to every element of a sequence and returns a list**

In [9]:
lang = ['python', 'java', 'scala']
map(len, lang)

In [10]:
# equivalent list comprehension
[len(word) for word in simpsons]

NameError: name 'simpsons' is not defined

In [11]:
map(lambda word: word[-1], simpsons)

NameError: name 'simpsons' is not defined

In [12]:
# equivalent list comprehension
[word[-1] for word in simpsons]

NameError: name 'simpsons' is not defined

**`filter` returns a list (Python 2) or iterator (Python 3) containing the elements from a sequence for which a condition is `True`:**

In [13]:
nums = range(5)
filter(lambda x: x % 2 == 0, nums)

In [14]:
# equivalent list comprehension
[num for num in nums if num % 2 == 0]

[0, 2, 4]

In [16]:
lambda x: x % 2 == 0, nums

(<function __main__.<lambda>(x)>, range(0, 5))