In [1]:
import re 
import pandas as pd
import numpy
from nltk.corpus import stopwords
import nltk
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from wordcloud import WordCloud
import random

In [2]:
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [4]:
data_dir = "C:\\Users\\om sai\\Downloads\\spam.csv"
df= pd.read_csv(data_dir,encoding='ISO-8859-1');

In [5]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [6]:
col = ['v1','v2']
df=df[col]

In [7]:
df.columns=["class","msg"]

In [8]:
df

     class                                                msg
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...
10     ham  I'm gonna be home soon and i don't want to tal...
11    spam  SIX chances to win CASH! From 100 to 20,000 po...
12    spam  URGENT! You have won a 1 week FREE membership ...
13     ham  I've been searching for the right words to tha...
14     ham                I HAVE A DATE ON SUNDAY WITH WILL!!
15    spam  XXXMobileMovieClub: To use your credit, click ...
16     ham                         Oh k...i'm watching here:)
17     ham  Eh u remember how 2 spell his name... Yes i di...
18     ham  Fine if thatåÕs the way u feel. ThatåÕs the wa...
19    spam  England v Macedonia - dont miss the goals/team...
20     ham          Is that seriously how you spell his name?
21     ham  IÛ÷m going to try for 2 months ha ha only joking
22     ham  So Ì_ pay first lar... Then when is da stock c...
23     ham  Aft i finish my lunch then i go str down lor. ...
24     ham  Ffffffffff. Alright no way I can meet up with ...
25     ham  Just forced myself to eat a slice. I'm really ...
26     ham                     Lol your always so convincing.
27     ham  Did you catch the bus ? Are you frying an egg ...
28     ham  I'm back &amp; we're packing the car now, I'll...
29     ham  Ahhh. Work. I vaguely remember that! What does...
...    ...                                                ...
5542   ham           Armand says get your ass over to epsilon
5543   ham             U still havent got urself a jacket ah?
5544   ham  I'm taking derek &amp; taylor to walmart, if I...
5545   ham      Hi its in durban are you still on this number
5546   ham         Ic. There are a lotta childporn cars then.
5547  spam  Had your contract mobile 11 Mnths? Latest Moto...
5548   ham                 No, I was trying it all weekend ;V
5549   ham  You know, wot people wear. T shirts, jumpers, ...
5550   ham        Cool, what time you think you can get here?
5551   ham  Wen did you get so spiritual and deep. That's ...
5552   ham  Have a safe trip to Nigeria. Wish you happines...
5553   ham                        Hahaha..use your brain dear
5554   ham  Well keep in mind I've only got enough gas for...
5555   ham  Yeh. Indians was nice. Tho it did kane me off ...
5556   ham  Yes i have. So that's why u texted. Pshew...mi...
5557   ham  No. I meant the calculation is the same. That ...
5558   ham                             Sorry, I'll call later
5559   ham  if you aren't here in the next  &lt;#&gt;  hou...
5560   ham                  Anything lor. Juz both of us lor.
5561   ham  Get me out of this dump heap. My mom decided t...
5562   ham  Ok lor... Sony ericsson salesman... I ask shuh...
5563   ham                                Ard 6 like dat lor.
5564   ham  Why don't you wait 'til at least wednesday to ...
5565   ham                                       Huh y lei...
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [9]:
df[pd.isnull(df['msg'])]

Empty DataFrame
Columns: [class, msg]
Index: []

In [10]:
df=df[pd.notnull(df['msg'])]

In [11]:
df['class'].factorize()[0]

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [12]:
df['class']=df['class'].factorize()[0]

In [13]:
df.head()

   class                                                msg
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [14]:
import re
def keep_alphabet(input_text):
    alpha_text=re.sub('[^a-z]',' ',input_text)
    return alpha_text

In [15]:
df['clean']=df['msg'].apply(keep_alphabet)

In [16]:
def convert_case(input_text):
    return input_text.lower()
df['clean']=df['msg'].apply(convert_case)

In [17]:
stopwords_list=list(set(stopwords.words('english')))

In [18]:
def remove_stopwords(input_text):
    tokens = input_text.split()
    clean_tokens= []
    for word in tokens :
        if word not in stopwords_list:
            clean_tokens.append(word)
    return' '.join(clean_tokens)

In [19]:
df['clean']=df['clean'].apply(remove_stopwords)

In [20]:
df.head()

,class,msg,clean
0,0,"Go until jurong point, crazy.. Available only ...","go jurong point, crazy.. available bugis n gre..."
1,0,Ok lar... Joking wif u oni...,ok lar... joking wif u oni...
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,0,U dun say so early hor... U c already then say...,u dun say early hor... u c already say...
4,0,"Nah I don't think he goes to usf, he lives aro...","nah think goes usf, lives around though"

In [21]:
def remove_samller_words(input_text):
    tokens= input_text.split()
    out_word_list=[]
    for word in tokens:
        if len(word) >= 3:
            out_word_list.append(word)
    return ' '.join(out_word_list) 
df['clean']=df['clean'].apply(remove_samller_words)

In [22]:

df.head()

,class,msg,clean
0,0,"Go until jurong point, crazy.. Available only ...","jurong point, crazy.. available bugis great wo..."
1,0,Ok lar... Joking wif u oni...,lar... joking wif oni...
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entry wkly comp win cup final tkts 21st m...
3,0,U dun say so early hor... U c already then say...,dun say early hor... already say...
4,0,"Nah I don't think he goes to usf, he lives aro...","nah think goes usf, lives around though"

In [23]:
lemmatizer = WordNetLemmatizer()
def get_lemmas(input_text):
    tokens=input_text.split()
    lemmas=[]
    for word in tokens:
        lemmas.append(lemmatizer.lemmatize(word))
    return " ".join(lemmas)

In [24]:
df['lemmas']=df['clean'].apply(get_lemmas)

In [25]:
stemmer= PorterStemmer()

In [26]:
def stem_words(input_text):
    tokens= input_text.split()
    stemmed_list = []
    for word in tokens:
        stemmed_list.append(stemmer.stem(word))
    return" ".join(stemmed_list)

In [27]:
df['stemmed']=df['clean'].apply(stem_words)

In [28]:
df.head()

,class,msg,clean,lemmas,stemmed
0,0,"Go until jurong point, crazy.. Available only ...","jurong point, crazy.. available bugis great wo...","jurong point, crazy.. available bugis great wo...","jurong point, crazy.. avail bugi great world b..."
1,0,Ok lar... Joking wif u oni...,lar... joking wif oni...,lar... joking wif oni...,lar... joke wif oni...
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entry wkly comp win cup final tkts 21st m...,free entry wkly comp win cup final tkts 21st m...,free entri wkli comp win cup final tkt 21st ma...
3,0,U dun say so early hor... U c already then say...,dun say early hor... already say...,dun say early hor... already say...,dun say earli hor... alreadi say...
4,0,"Nah I don't think he goes to usf, he lives aro...","nah think goes usf, lives around though","nah think go usf, life around though","nah think goe usf, live around though"

In [29]:
corpus=df['stemmed'].tolist()

In [30]:
data = corpus

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer(max_features=3000)
x=vec.fit_transform(data).toarray()

In [44]:
y=df.iloc[:,0]

In [45]:
y

0       0
1       0
2       1
3       0
4       0
5       1
6       0
7       0
8       1
9       1
10      0
11      1
12      1
13      0
14      0
15      1
16      0
17      0
18      0
19      1
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
       ..
5542    0
5543    0
5544    0
5545    0
5546    0
5547    1
5548    0
5549    0
5550    0
5551    0
5552    0
5553    0
5554    0
5555    0
5556    0
5557    0
5558    0
5559    0
5560    0
5561    0
5562    0
5563    0
5564    0
5565    0
5566    1
5567    1
5568    0
5569    0
5570    0
5571    0
Name: class, Length: 5572, dtype: int64

In [46]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [47]:
from sklearn.linear_model import LogisticRegression

In [48]:
classifier = LogisticRegression()

In [49]:
classifier.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [50]:
y_pred = classifier.predict(X_test)

In [51]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report,accuracy_score

In [52]:
cm=confusion_matrix(y_test,y_pred)
cr=classification_report(y_test,y_pred)
ar=accuracy_score(y_test,y_pred)

In [53]:
cm

array([[1433,    3],
       [  21,  215]], dtype=int64)

In [54]:
cr

'              precision    recall  f1-score   support\n\n           0       0.99      1.00      0.99      1436\n           1       0.99      0.91      0.95       236\n\n   micro avg       0.99      0.99      0.99      1672\n   macro avg       0.99      0.95      0.97      1672\nweighted avg       0.99      0.99      0.99      1672\n'

In [55]:
ar

0.9856459330143541