In [1]:
import pandas as pd
import numpy as np

In [3]:
Employee = pd.read_csv('C:\\Users\\om sai\\Downloads\\employee.csv')

In [4]:
Employee.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [5]:
Employee.loc[Employee['Attrition']=='No','Attrition'] = 0
Employee.loc[Employee['Attrition']=='Yes','Attrition'] = 1

In [6]:
df =Employee 
df.nunique()

Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

In [7]:
df.describe(include='all')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470,1470.000000,1470,1470.000000,1470.000000,1470,1470.0,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
unique,NaN,NaN,3,NaN,3,NaN,NaN,6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Travel_Rarely,NaN,Research & Development,NaN,NaN,Life Sciences,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,1043,NaN,961,NaN,NaN,606,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,36.923810,0.161224,NaN,802.485714,NaN,9.192517,2.912925,NaN,1.0,1024.865306,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,0.367863,NaN,403.509100,NaN,8.106864,1.024165,NaN,0.0,602.024335,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,0.000000,NaN,102.000000,NaN,1.000000,1.000000,NaN,1.0,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,0.000000,NaN,465.000000,NaN,2.000000,2.000000,NaN,1.0,491.250000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,0.000000,NaN,802.000000,NaN,7.000000,3.000000,NaN,1.0,1020.500000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,0.000000,NaN,1157.000000,NaN,14.000000,4.000000,NaN,1.0,1555.750000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1.000000,NaN,1499.000000,NaN,29.000000,5.000000,NaN,1.0,2068.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [8]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [9]:
df = df.drop(['EmployeeCount','EmployeeNumber','Over18','StandardHours'],axis=1)

In [10]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [11]:
df_numeric = df.select_dtypes(include=['int64'])
df_numeric

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1102,1,2,2,94,3,2,4,...,3,1,0,8,0,1,6,4,0,5
1,49,0,279,8,1,3,61,2,2,2,...,4,4,1,10,3,3,10,7,1,7
2,37,1,1373,2,2,4,92,2,1,3,...,3,2,0,7,3,3,0,0,0,0
3,33,0,1392,3,4,4,56,3,1,3,...,3,3,0,8,3,3,8,7,3,0
4,27,0,591,2,1,1,40,3,1,2,...,3,4,1,6,3,3,2,2,2,2
5,32,0,1005,2,2,4,79,3,1,4,...,3,3,0,8,2,2,7,7,3,6
6,59,0,1324,3,3,3,81,4,1,1,...,4,1,3,12,3,2,1,0,0,0
7,30,0,1358,24,1,4,67,3,1,3,...,4,2,1,1,2,3,1,0,0,0
8,38,0,216,23,3,4,44,2,3,3,...,4,2,0,10,2,3,9,7,1,8
9,36,0,1299,27,3,3,94,3,2,3,...,3,2,2,17,3,2,7,7,7,7
10,35,0,809,16,3,1,84,4,1,2,...,3,3,1,6,5,3,5,4,0,3
11,29,0,153,15,2,4,49,2,2,3,...,3,4,0,10,3,3,9,5,0,8
12,31,0,670,26,1,1,31,3,1,3,...,3,4,1,5,1,2,5,2,4,3
13,34,0,1346,19,2,2,93,3,1,4,...,3,3,1,3,2,3,2,2,1,2
14,28,1,103,24,3,3,50,2,1,3,...,3,2,0,6,4,3,4,2,0,3
15,29,0,1389,21,4,2,51,4,3,1,...,3,3,1,10,1,3,10,9,8,8
16,32,0,334,5,2,1,80,4,1,2,...,3,4,2,7,5,2,6,2,0,5
17,22,0,1123,16,2,4,96,4,1,4,...,3,2,2,1,2,2,1,0,0,0
18,53,0,1219,2,4,1,78,2,4,4,...,3,3,0,31,3,3,25,8,3,7
19,38,0,371,2,3,4,45,3,1,4,...,3,3,0,6,3,3,3,2,1,2
20,24,0,673,11,2,1,96,4,2,3,...,3,4,1,5,5,2,4,2,1,3
21,36,1,1218,9,4,3,82,2,1,1,...,4,2,0,10,4,3,5,3,0,3
22,34,0,419,7,4,1,53,3,3,2,...,3,3,0,13,4,3,12,6,2,11
23,21,0,391,15,2,3,96,3,1,4,...,3,4,0,0,6,3,0,0,0,0
24,34,1,699,6,1,2,83,3,1,1,...,3,3,0,8,2,3,4,2,1,3
25,53,0,1282,5,3,3,58,3,5,3,...,3,4,1,26,3,2,14,13,4,8
26,32,1,1125,16,1,2,72,1,1,1,...,4,2,0,10,5,3,10,2,6,7
27,42,0,691,8,4,3,48,3,2,2,...,3,4,1,10,2,3,9,7,4,2
28,44,0,477,7,4,1,42,2,3,4,...,3,4,1,24,4,3,22,6,5,17
29,46,0,705,2,4,2,83,3,5,1,...,3,4,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,0,688,4,2,4,97,3,2,2,...,3,2,3,18,3,3,4,2,0,2
1441,56,0,667,1,4,3,57,3,2,3,...,4,1,1,13,2,2,13,12,1,9
1442,29,1,1092,1,4,1,36,3,1,4,...,3,2,3,4,3,4,2,2,2,2
1443,42,0,300,2,3,1,56,3,5,3,...,3,1,0,24,2,2,22,6,4,14
1444,56,1,310,7,2,4,72,3,1,3,...,3,4,1,14,4,1,10,9,9,8
1445,41,0,582,28,4,1,60,2,4,2,...,4,3,1,21,3,3,20,7,0,10
1446,34,0,704,28,3,4,95,2,2,3,...,4,4,2,8,2,3,8,7,1,7
1447,36,0,301,15,4,4,88,1,2,4,...,4,1,1,15,4,2,15,12,11,11
1448,41,0,930,3,3,3,57,2,2,2,...,3,3,1,14,5,3,5,4,0,4
1449,32,0,529,2,3,4,78,3,1,1,...,3,4,0,4,4,3,4,2,1,2
1450,35,0,1146,26,4,3,31,3,3,4,...,3,3,0,9,2,3,9,0,1,7
1451,38,0,345,10,2,1,100,3,2,4,...,3,3,1,10,1,3,10,7,1,9
1452,50,1,878,1,4,2,94,3,2,3,...,3,4,2,12,3,3,6,3,0,1
1453,36,0,1120,11,4,2,100,2,2,4,...,3,1,1,8,2,2,6,3,0,0
1454,45,0,374,20,3,4,50,3,2,3,...,3,3,0,8,3,3,5,3,0,1
1455,40,0,1322,2,4,3,52,2,1,3,...,3,4,0,8,2,3,2,2,2,2
1456,35,0,1199,18,4,3,80,3,2,3,...,3,4,2,10,2,4,10,2,0,2
1457,40,0,1194,2,4,3,98,3,1,3,...,3,2,3,20,2,3,5,3,0,2
1458,35,0,287,1,4,3,62,1,1,4,...,3,4,1,4,5,3,4,3,1,1
1459,29,0,1378,13,2,4,46,2,2,2,...,3,1,1,10,2,3,4,3,0,3
1460,29,0,468,28,4,4,73,2,1,1,...,3,2,0,5,3,1,5,4,0,4
1461,50,1,410,28,3,4,39,2,3,1,...,3,2,1,20,3,3,3,2,2,0
1462,39,0,722,24,1,2,60,2,4,4,...,3,1,1,21,2,2,20,9,9,6
1463,31,0,325,5,3,2,74,3,2,1,...,3,2,0,10,2,3,9,4,1,7
1464,26,0,1167,5,3,4,30,2,1,3,...,3,4,0,5,2,3,4,2,0,0
1465,36,0,884,23,2,3,41,4,2,4,...,3,3,1,17,3,3,5,2,0,3
1466,39,0,613,6,1,4,42,2,3,1,...,3,1,1,9,5,3,7,7,1,7
1467,27,0,155,4,3,2,87,4,2,2,...,4,2,1,6,0,3,6,2,0,3
1468,49,0,1023,2,3,4,63,2,2,2,...,3,4,0,17,3,2,9,6,0,8
1469,34,0,628,8,3,2,82,4,2,3,...,3,1,0,6,3,4,4,3,1,2

In [12]:
df_catg= df.select_dtypes(include=['object'])
df_catg

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,OverTime
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,No
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Yes
3,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Married,Yes
4,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,No
5,Travel_Frequently,Research & Development,Life Sciences,Male,Laboratory Technician,Single,No
6,Travel_Rarely,Research & Development,Medical,Female,Laboratory Technician,Married,Yes
7,Travel_Rarely,Research & Development,Life Sciences,Male,Laboratory Technician,Divorced,No
8,Travel_Frequently,Research & Development,Life Sciences,Male,Manufacturing Director,Single,No
9,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,No
10,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,No
11,Travel_Rarely,Research & Development,Life Sciences,Female,Laboratory Technician,Single,Yes
12,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Divorced,No
13,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Divorced,No
14,Travel_Rarely,Research & Development,Life Sciences,Male,Laboratory Technician,Single,Yes
15,Travel_Rarely,Research & Development,Life Sciences,Female,Manufacturing Director,Divorced,No
16,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Divorced,Yes
17,Non-Travel,Research & Development,Medical,Male,Laboratory Technician,Divorced,Yes
18,Travel_Rarely,Sales,Life Sciences,Female,Manager,Married,No
19,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,Yes
20,Non-Travel,Research & Development,Other,Female,Manufacturing Director,Divorced,No
21,Travel_Rarely,Sales,Life Sciences,Male,Sales Representative,Single,No
22,Travel_Rarely,Research & Development,Life Sciences,Female,Research Director,Single,No
23,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,No
24,Travel_Rarely,Research & Development,Medical,Male,Research Scientist,Single,No
25,Travel_Rarely,Research & Development,Other,Female,Manager,Divorced,No
26,Travel_Frequently,Research & Development,Life Sciences,Female,Research Scientist,Single,Yes
27,Travel_Rarely,Sales,Marketing,Male,Sales Executive,Married,No
28,Travel_Rarely,Research & Development,Medical,Female,Healthcare Representative,Married,No
29,Travel_Rarely,Sales,Marketing,Female,Manager,Single,No
...,...,...,...,...,...,...,...
1440,Travel_Frequently,Research & Development,Life Sciences,Female,Manufacturing Director,Divorced,No
1441,Non-Travel,Research & Development,Life Sciences,Male,Healthcare Representative,Divorced,No
1442,Travel_Rarely,Research & Development,Medical,Male,Research Scientist,Married,Yes
1443,Travel_Rarely,Research & Development,Life Sciences,Male,Manager,Married,No
1444,Travel_Rarely,Research & Development,Technical Degree,Male,Laboratory Technician,Married,No
1445,Travel_Rarely,Research & Development,Life Sciences,Female,Manufacturing Director,Married,No
1446,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,No
1447,Non-Travel,Sales,Marketing,Male,Sales Executive,Divorced,No
1448,Travel_Rarely,Sales,Life Sciences,Male,Sales Executive,Divorced,No
1449,Travel_Rarely,Research & Development,Technical Degree,Male,Research Scientist,Single,No
1450,Travel_Rarely,Human Resources,Life Sciences,Female,Human Resources,Single,Yes
1451,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Married,No
1452,Travel_Frequently,Sales,Life Sciences,Male,Sales Executive,Divorced,No
1453,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,No
1454,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,No
1455,Travel_Rarely,Research & Development,Life Sciences,Male,Research Scientist,Single,No
1456,Travel_Frequently,Research & Development,Life Sciences,Male,Healthcare Representative,Married,Yes
1457,Travel_Rarely,Research & Development,Medical,Female,Research Scientist,Married,No
1458,Travel_Rarely,Research & Development,Life Sciences,Female,Research Scientist,Married,No
1459,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Married,Yes
1460,Travel_Rarely,Research & Development,Medical,Female,Research Scientist,Single,No
1461,Travel_Rarely,Sales,Marketing,Male,Sales Executive,Divorced,Yes
1462,Travel_Rarely,Sales,Marketing,Female,Sales Executive,Married,No
1463,Non-Travel,Research & Development,Medical,Male,Manufacturing Director,Single,No
1464,Travel_Rarely,Sales,Other,Female,Sales Representative,Single,No
1465,Travel_Frequently,Research & Development,Medical,Male,Laboratory Technician,Married,No
1466,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,No
1467,Travel_Rarely,Research & Development,Life Sciences,Male,Manufacturing Director,Married,Yes
1468,Travel_Frequently,Sales,Medical,Male,Sales Executive,Married,No
1469,Travel_Rarely,Research & Development,Medical,Male,Laboratory Technician,Married,No

In [13]:
df_catg_dum = pd.get_dummies(df_catg)

In [14]:
df_catg_dum

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0,0,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,1,0,1
1,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
4,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
5,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
6,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
7,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
8,0,1,0,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,1,1,0
9,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
10,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
11,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
12,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,1,0,0,1,0
13,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
14,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
15,0,0,1,0,1,0,0,1,0,0,...,1,0,0,0,0,1,0,0,1,0
16,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,1,0,0,0,1
17,1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
18,0,0,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
19,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,1
20,1,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,1,0,0,1,0
21,0,0,1,0,0,1,0,1,0,0,...,0,0,0,0,1,0,0,1,1,0
22,0,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,1,1,0
23,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,1,0
24,0,0,1,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
25,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
26,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,1
27,0,0,1,0,0,1,0,0,1,0,...,0,0,0,1,0,0,1,0,1,0
28,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
29,0,0,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,0,1,0,0,1,0,0,1,0,0,...,1,0,0,0,0,1,0,0,1,0
1441,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
1442,0,0,1,0,1,0,0,0,0,1,...,0,0,1,0,0,0,1,0,0,1
1443,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
1444,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1445,0,0,1,0,1,0,0,1,0,0,...,1,0,0,0,0,0,1,0,1,0
1446,0,0,1,0,0,1,0,0,1,0,...,0,0,0,1,0,0,1,0,1,0
1447,1,0,0,0,0,1,0,0,1,0,...,0,0,0,1,0,1,0,0,1,0
1448,0,0,1,0,0,1,0,1,0,0,...,0,0,0,1,0,1,0,0,1,0
1449,0,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
1450,0,0,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
1451,0,0,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,1,0,1,0
1452,0,1,0,0,0,1,0,1,0,0,...,0,0,0,1,0,1,0,0,1,0
1453,0,0,1,0,0,1,0,0,1,0,...,0,0,0,1,0,0,1,0,1,0
1454,0,0,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,1,1,0
1455,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,1,1,0
1456,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
1457,0,0,1,0,1,0,0,0,0,1,...,0,0,1,0,0,0,1,0,1,0
1458,0,0,1,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0
1459,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1460,0,0,1,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,1,0
1461,0,0,1,0,0,1,0,0,1,0,...,0,0,0,1,0,1,0,0,0,1
1462,0,0,1,0,0,1,0,0,1,0,...,0,0,0,1,0,0,1,0,1,0
1463,1,0,0,0,1,0,0,0,0,1,...,1,0,0,0,0,0,0,1,1,0
1464,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0
1465,0,1,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
1466,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
1467,0,0,1,0,1,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,1
1468,0,1,0,0,0,1,0,0,0,1,...,0,0,0,1,0,0,1,0,1,0
1469,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0

In [15]:
df_combine = pd.concat([df_catg_dum,df_numeric],axis=1)

In [16]:
df_combine.head()

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,0,1,0,0,1,0,1,0,0,...,3,1,0,8,0,1,6,4,0,5
1,0,1,0,0,1,0,0,1,0,0,...,4,4,1,10,3,3,10,7,1,7
2,0,0,1,0,1,0,0,0,0,0,...,3,2,0,7,3,3,0,0,0,0
3,0,1,0,0,1,0,0,1,0,0,...,3,3,0,8,3,3,8,7,3,0
4,0,0,1,0,1,0,0,0,0,1,...,3,4,1,6,3,3,2,2,2,2

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
train_x = df_combine.drop(['Attrition'],axis=1)
train_y =df_combine['Attrition']

In [19]:
X_train,X_test,y_train,y_test =train_test_split(train_x,train_y,test_size=0.3,random_state=20)

In [20]:
from sklearn import tree
dt = tree.DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)

In [21]:
y_pred

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0], dtype=int64)

In [22]:
from sklearn import metrics

In [23]:
print('Accuracy',metrics.accuracy_score(y_test,y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

Accuracy 0.7845804988662132
Precision: 0.3493975903614458
Recall: 0.4142857142857143

In [24]:
import graphviz

In [25]:
# Ploting Tree

import graphviz 
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
dot_data = StringIO()
export_graphviz(dt, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graphviz.Source(graph)

ExecutableNotFound: failed to execute ['dot', '-Tsvg'], make sure the Graphviz executables are on your systems' PATH

In [35]:
from sklearn.tree import DecisionTreeClassifier
import sklearn.datasets as datasets
from sklearn.externals.six import StringIO
from sklearn.tree import export_graphviz

import pandas as pd
import pydotplus

from IPython.display import Image

iris = datasets.load_iris()
df = pd.DataFrame(iris.data, columns = iris.feature_names)
y = iris.target

dtree = DecisionTreeClassifier()
dtree.fit(df,y)

dot_data = StringIO()
export_graphviz(
    dt, 
    out_file = dot_data,
    filled = True, 
    rounded = True,
    special_characters = True
)
graph_1 = pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(graph_1.create_png())

InvocationException: GraphViz's executables not found